
a:link {
    color:gold;
    font-family: monospace;
    font-size: 36px;
}

a:hover {
    color:gold;
    font-family: monospace;
    font-size: 36px;
}

a:visited {
    color:gold;
    font-family: monospace;
    font-size: 36px;
}